.col-md-8.bookmark-category
  - @bookmarks.each_pair do |topic, bookmark|
    .col-md-12.topic
      %br
      %br
      %br
      = "#{topic}"
      %br
      %br
      %br
    - bookmark.each do |link|
      - link_path = 'http://' << link.url
      .col-md-6.bookmark.text-center
        %h4
          = link_to "#{link.title}", link_path, class: 'livepreview'
          = default_favicon(link)
        %p 
          "#{link.description}"
        
.col-md-offset-8.preview-window
  %h4.text-center
    Live Preview
  .thumbnail
    = holder_tag '300x240', 'Hover over link for preview!', 'sky', id: 'holder'