.col-md-8.bookmark-category
  - @bookmarks.each_pair do |topic, bookmarks|
    .col-md-12.topic
      %br
      %br
      %br
      = "#{topic}"
      %br
      %br
      %br
    - bookmarks.each do |bookmark|
      - bookmark_path = 'http://' << bookmark.url
      .col-md-6.bookmark.text-center
        %h4
          = link_to "#{bookmark.title}", bookmark_path, class: 'livepreview'
          = default_favicon(bookmark)
        %p 
          "#{bookmark.description}"
        - if policy(bookmark).destroy?
          = link_to "Delete", bookmark, method: :destroy, class: 'btn btn-danger'
        
.col-md-offset-8.preview-window
  %h4.text-center
    Live Preview
  .thumbnail
    = holder_tag '300x240', 'Hover over link for preview!', 'sky', id: 'holder'