!!!
%html
  %head
    %title SaveIt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .flash
        - if flash[:notice]
          .alert.alert-success
            .button.close{:data => {:dismiss => "alert"} } 
            = flash[:notice]
        - elsif flash[:error]
          .alert.alert-danger
            .button.close{:data => {:dismiss => "alert"} } 
            = flash[:error]
        - elsif flash[:alert]
          .alert.alert-warning
            .button.close{:data => {:dismiss => "alert"} } 
            = flash[:alert]

      - if current_user
        .navbar.navbar-default
          .navbar-header
            = link_to "My Bookmarks", user_path(current_user), class: 'navbar-brand'
          %ul.nav.navbar-nav
            = link_to "All Bookmarks", bookmarks_path
            = link_to "My Account", edit_user_registration_path
            = link_to "About", about_path
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          
      = yield
      
